.container
{
  width: 100%;
  height: 100%;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
}
p
{
  font-family: 'Montserrat', sans-serif;
  display: block;
}
sup
{
  font-family: 'Montserrat', sans-serif;
  color: red;
}
ul
{
  position: absolute;
  display: none;
  background-color: #45acc8;
  z-index: 1;
  padding: 10px;
  font-size: 0.7em;
  white-space: nowrap;
  right: 0;
}
.container > div:hover ul
{
  display: block;
}
